<!DOCTYPE html>
<html lang = 'en'>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset = "UTF-8">
    <title>CpG prediction</title>
</head>
<body>
    <br><br>
    <h1>CpG Detector - LSTM Model DEMO</h1>
    <form action="{{url_for('predict')}}" method="post">
        <div style="margin:0;padding:0">
            <div>
                <h3 > Input String </h>
                <input id="feature1" name= "Medu"  type="text" required = "required" />
            </div>
            <br>
            <button class="ui blue button" type="submit">predict</button>
        </form>
        <br><br><h3>{{ prediction_text }}</h3>     
    </div>
<style>
    body {
        background-color: rgb(255, 255, 255);
        text-align: center;
        font-family: sans-serif;
        padding: 0px;
    }   
</style>
</body>

</html>

